body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color:rgb(111, 168, 57);
}

.quem-somos{
    background-color: #c4e9a0;
    color: rgb(73, 71, 71);

}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: rgb(111, 168, 57);
}

.bg-footer{
    background-color: black;
    color: white;
    padding-bottom: 15px;
}